node_modules/
out/
release/
data/
logs/
dist/
.DS_Store
*.log
.bp-*
.clean-*
.dbg-*
.tst-*
.branchpulse.pid
.electron_appinfo.cc
.electron_appinfo.h
.electron_browser_client.cc
.electron_main_delegate.cc
.electron_main_delegate_full.cc
.electron_paths.cc
.electron_paths.h
.electron_tree.json
debug-screen.png
error-screen.png
debug-run.ps1
debug-run-asar.ps1
index.js
